doctype html
html
  include ./includes/head.jade
  body
    - var chunks = 0
    while chunks < 100
      div
        div
          div
            div
              div
                ul
                  li= chunks++
                  - var n = 0
                  while n < 100
                    li(class="list-item-#{n}")= n++

